---
import Page from '#src_astro/layouts/Page.astro';
import PostList from './_PostList.astro';
import { getStaticPathsSub } from '#src_astro/lib/posts';
import styles from './_styles.module.scss';

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsSub({ paginate });
}

const { page } = Astro.props;

let title = `Posts`;
if (page.lastPage > 1) {
  title += ` (Page ${page.currentPage} of ${page.lastPage})`;
}

const pathbase = await (await import('./[id].astro')).pathAsync();;
---
<Page title={title}>
  <PostList slot="main" posts={page.data} page={page} />
  <div slot="sidebar">
    <iframe class={styles.recent} src={`${pathbase}/recent`} />
  </div>
</Page>
