---
import { obtainStore } from '#src/posts';
import styles from './_styles.module.scss';
import { InferGetStaticPropsType } from 'astro';
import Page from '#src_astro/layouts/Page.astro';

export async function getStaticPaths() {
  const store = obtainStore()

  const posts = await store.postsAsync();
  return (posts).map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props as InferGetStaticPropsType<typeof getStaticPaths>;
const title = post.title;
const body = await post.bodyHtml()
import { toOnUrl } from '#src_astro/lib/posts.js';

import { join, dirname } from 'node:path';
export async function pathAsync() {
  return join(import.meta.env.BASE_URL || "/", ...dirname((await Astro.glob('./*.astro'))[0].file).split('/').reduceRight((acc, curr) => (acc.length && acc[0] === 'pages')? acc: [curr, ...acc], []).slice(1));
}

const pathbase = await pathAsync();
---
<Page title={title}>
  <article slot="main">
    <section class={styles.post_date}>
      <time datetime={post.createdAt.toISODate()}>{post.createdAt.toISODate()}</time>
    </section>
    <h1 class={styles.item_title}>{title}</h1>
    <section>
      <ul class={styles.post_tag_ul}>
        {post.tags.map(tag => (
          <li class={styles.post_tag}><a href={`./tag-${toOnUrl(tag)}`}>{tag}</a></li>
        ))}
      </ul>
    </section>
    <section>
      <div class={styles.body} set:html={body} />
    </section>
  </article>
  <div slot="sidebar">
    <iframe class={styles.recent} src={`${pathbase}/recent`} />
  </div>
</Page>
