---
import Layout from '@src_astro/layouts/Layout.astro';
import { readFileSync } from "fs";
import { marked } from "marked";
import { hello } from '@src_astro/lib/data'

interface Post {
  id: string;
  title: string;
}

export function getStaticPaths() {
  return [
    {
      params: {
        id: "706ce3e",
      },
      // props: {
      //   title: "Hello",
      //   body: "Hey, Hello!",
      // },
    },
    {
      params: {
        id: "b5291ad",
      },
      // props: {
      //   title: "World",
      //   body: "It's a small world after all!",
      // },
    },
    {
      params: {
        id: "0100.md",
      },
    }
  ];
}

const { id } = Astro.params;
const title = `Title for ${id}`;
const body = `Body for ${id}`;

const markdown = readFileSync(`/tmp/${Astro.params.id}`, "utf-8");
const html = marked(markdown);

---
<Layout title={title}>
<h1>181be01 {title}</h1>
<div>Message: {id}, {title}, {body}!</div>
<p>and {hello}</p>
<div set:html={html}></div>
</Layout>
