---
import { createMarkdownFromGlobPattern, getPosts } from '#src/posts';
import styles from './styles.module.scss';

export async function getStaticPaths(): Promise<{ params: { id: string } }[]> {
  const dirPaths = globSync([
    '/Users/knaka/doc/2016',
    '/Users/knaka/doc/2017',
    '/Users/knaka/doc/2018',
    '/Users/knaka/doc/2019',
    '/Users/knaka/doc/202*',
  ]);
  const posts = await getPosts(...dirPaths);
  console.log('d4d47d9', posts.length);
  return (posts).map((post) => ({
    params: {
      id: post.id,
    },
  }));
}

// import { createMarkdownFromGlobPattern } from '#src/posts';
import Page from '#src_astro/layouts/Page.astro';
import {   } from "fs";
import { globSync } from 'glob';

const { id } = Astro.params;
// const title = `Title for ${id}`;
// const body = `Body for ${id}`;

const post = await createMarkdownFromGlobPattern(`/Users/knaka/doc/*/*${id}*.md`);
const title = post.title;
const body = await post.bodyHtml()
---
<Page title={title}>
  <article slot="main">
    <h1>{title}</h1>
    <section>
      <h2>Tags</h2>
      <ul>
        {post.tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
    </section>
    <section>
      <h2>Published on <time datetime={post.createdAt.toISODate()}>{post.createdAt.toISODate()}</time></h2>
    </section>
    <section>
      <div class={styles.body} set:html={body} />
    </section>
  </article>
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
