---
import { obtainStore } from '#src/posts';
import styles from './_styles.module.scss';
import { InferGetStaticPropsType } from 'astro';
import Page from '#src_astro/layouts/Page.astro';

export async function getStaticPaths() {
  const store = obtainStore()

  const posts = await store.postsAsync();
  return (posts).map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props as InferGetStaticPropsType<typeof getStaticPaths>;
const title = post.title;
const body = await post.bodyHtml()


// <section>
//       <button id="back">Back</button>
//       <!-- <a href="" id="back">Back</a>  -->
//       <script>
//         document.getElementById('back').addEventListener('click', () => {
//           window.history.length > 1 ? history.back() : location.href = '/doc/posts'
//         })
//       </script>
//     </section>

---
<Page title={title}>
  <article slot="main">
    <h1>{title}</h1>
    <section>
      <h2>Tags</h2>
      <ul>
        {post.tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
    </section>
    <section>
      <h2>Published on <time datetime={post.createdAt.toISODate()}>{post.createdAt.toISODate()}</time></h2>
    </section>
    <section>
      <div class={styles.body} set:html={body} />
    </section>
  </article>
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
