---
import Page from '@src_astro/layouts/Page.astro';
import { iteratePosts, Markdown } from '@src_astro/lib/posts.js';
import styles from './styles.module.scss';

type PostSubset = Pick<Markdown, "id" | "title" | "createdAt" | "tags">;

const posts: PostSubset[] = [];
for await (const post of iteratePosts('/Users/knaka/doc/2021')) {
  posts.push({...post});
}
---
<Page title="Posts">
<!-- <div slot="left_sidebar">
  <!-- Add any left sidebar content here -->
  <p>Left sidebar content goes here.</p>
</div> -->
<ul slot="main">
  {posts.map((post) => (
    <li class={styles.item_list}>
      <time datetime={post.createdAt.toISO()}>{post.createdAt.toISODate()}</time>
      <a href={`./posts/${post.id}`}>{post.title}</a>
      <div class={styles.tags}>Tags: {post.tags.join(' | ')}</div>
    </li>
  ))}
</ul>
<div slot="sidebar">
  <p>Sidebar content goes here.</p>
</div>
</Page>
