---
import Root from '@src_astro/layouts/Root.astro';
import PostListPageLayout from '@src_astro/layouts/PostListPageLayout.astro';
import { iteratePosts, Markdown } from '@src_astro/lib/posts.js';
import styles from './styles.module.scss';

type PostSubset = Pick<Markdown, "id" | "title" | "createdAt" | "tags">;

const posts: PostSubset[] = [];
for await (const post of iteratePosts('/Users/knaka/doc/2021')) {
  posts.push({...post});
}
---
<Root title="Posts">
<PostListPageLayout>
  <ul slot="main">
    {posts.map((post) => (
      <li class={styles.item_list}>
        <time datetime={post.createdAt.toISO()}>{post.createdAt.toISODate()}</time>
        <a href={`./posts/${post.id}`}>{post.title}</a>
        <div class={styles.tags}>Tags: {post.tags.join(' | ')}</div>
      </li>
    ))}
  </ul>
  <div slot="sidebar">
    <!-- Add any sidebar content here -->
    <p>Sidebar content goes here.</p>
  </div>
</PostListPageLayout>
</Root>
