---
import Page from '#src_astro/layouts/Page.astro';
import { obtainStore } from '#src/posts';
import styles from './_styles.module.scss';

const store = obtainStore()
const posts = await store.postsAsync();
---
<Page title="Posts">
  <ul slot="main">
    {posts.map((post) => (
      <li class={styles.item_list}>
        <time datetime={post.createdAt.toISO()}>{post.createdAt.toISODate()}</time>
        <a href={`./posts/${post.id}`}>{post.title}</a>
        <div class={styles.tags}>Tags: {post.tags.join(' | ')}</div>
      </li>
    ))}
  </ul>
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
