---
import Page from '#src_astro/layouts/Page.astro';
import { getPosts } from '#src/posts';
import styles from './styles.module.scss';

// isaacs/node-glob: glob functionality for node.js https://github.com/isaacs/node-glob
import { globSync } from 'glob';

const dirPaths = globSync([
  '/Users/knaka/doc/2016',
  '/Users/knaka/doc/2017',
  '/Users/knaka/doc/2018',
  '/Users/knaka/doc/2019',
  '/Users/knaka/doc/202*',
]);
const posts = (await getPosts(...dirPaths)).sort((a, b) => b.createdAt > a.createdAt ? 1 : -1);
---
<Page title="Posts">
<ul slot="main">
  {posts.map((post) => (
    <li class={styles.item_list}>
      <time datetime={post.createdAt.toISO()}>{post.createdAt.toISODate()}</time>
      <a href={`./posts/${post.id}`}>{post.title}</a>
      <div class={styles.tags}>Tags: {post.tags.join(' | ')}</div>
    </li>
  ))}
</ul>
<div slot="sidebar">
  <p>Sidebar content goes here.</p>
</div>
</Page>
